.cart-widget-container {
    height: 3em;
    display: flex;
    cursor: pointer;
}

.badget {
    padding: .1em;
    min-width: 1.5em;
    height: fit-content;
    border: solid 1px #ccc;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    font-weight: 400;
    color: white;
}