.form-container {
    place-self: center;
    width: 75%;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 1em;
}

input {
    width: 60%;
    height: 3em;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: .5em;
}

.btn-form {
    width: 10em;
    background-color: lightgreen;
}