.adder-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

.item-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
    justify-content: space-between;
    background-color: white;
}

.adder-btn {
    width: 2.5em;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.addToCart-btn {
    background-color: #7191b1;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 65%;
}

.addToCart-btn:hover {
    background-color: #5a6f8c;
}

.addToCart-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.home {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}